body {
  background-image: url("../home.jpg");
  background-size: cover;
  font-family: Avenir, sans-serif;
  overflow: hidden;
}

/* CSS to keep things consistent with the homepage starts here */
.top {
  margin-top: 20px;
}

.home-and-title
{
  display: inline-block;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}


.icon{
  size: 100px;
}

.options {
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-evenly;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

.overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 230px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: 20%;
    position: relative;
  }

  .popup h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
  }

  .Yesno {
      text-align: center;
      top: 30px;
      display: flex;
      justify-content: space-evenly;
  }

  .button {
      padding: 10px;
      border: 2px solid rgb(60, 134, 218);
      cursor: pointer;
      color: black;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
      font-size: 16px;
      opacity: 75%;
  }

  .button:hover {
    opacity: 100%
  }

  .signout {
    text-decoration: none;
    font-style: italic;
    color: black;
    font-weight: bold;
    margin-right: 20px;
  }

  .material-icons {
    color: black;
  }

  /* CSS to keep things consistent with the homepage ends here */

.myjournal {

margin-top: 5%;
margin-left: 5%;

}

.listbox {

margin-top: 5%;
float: left;

}

.listitems {

  list-style: none;
  margin-left: 15%;

}

.listbutton {

width: 200px;
height: 50px;
background-color: #E6E6FA;

}

.date {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin-top: 5%;

}

.entry {
font-weight: bold;
margin-top: 7%;
}

.listbutton:hover{
    background:#9370DB;
}

.listbuttonselected
{
  width: 200px;
  height: 50px;
  background-color: #9370DB;
}

.journalentry {
background-color:#E6E6FA;
width: 50%;
height: 160px;
margin-right: 25%;
margin-top: 6%;
float: right;
border-style: solid;
color:black;
padding:20px;
}

.newentrybutton
{
  width: 200px;
  height: 50px;
  background-color: #E6E6FA;
  margin-top: 5%;
  margin-left: 46%;
}

.newentrybutton:hover{
    background:#9370DB;
}

.newentrytext
{
  font-weight: bold;
  font-size: 20px;
  margin-top: 5%;
  text-align: center;
}

.newdate{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin-top: 5%;
}

.newtitle{
  font-weight: bold;
  margin-top: 7%;
}